[submodule "ocgcore"]
	path = ocgcore
	url = https://github.com/purerosefallen/ygopro-core.git
[submodule "script"]
	path = script
	url = https://github.com/Fluorohydride/ygopro-scripts.git
[submodule "field"]
	path = field
	url = https://github.com/moecube/ygopro-images-field.git
[submodule "locales"]
	path = locales
	url = https://github.com/moecube/ygopro-database.git
[submodule "ygopro-images"]
	path = ygopro-images
	url = git@git.mycard.moe:mycard/ygopro-images.git
