/bak/
/bin/
/build/
/event/
/freetype/
/gframe/ygopro.ico
/gframe/ygopro.rc
/gframe/ygopro.aps
/gframe/__iob_func_fix.cpp
/irrlicht/
/lua/
/obj/
/sqlite3/
/irrklang/
/ikpmp3/
/.vs/
/expansions/
/pics/
/script/
/deck/
/WindBot/
/gframe/*.ico
/*.exe
/*.conf
/*.dll
/*.bat
error.log
cards.cdb