1 ICON "YGO-VI19.ico"

1 VERSIONINFO
FILEVERSION 1, 0, 34, A
PRODUCTVERSION 1, 0, 34, A
FILEOS 0x4
FILETYPE 0x1

BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "080404b0"
BEGIN
VALUE "FileDescription", "YGO-VI-EX"
VALUE "InternalName", "YGO-VI-EX"
VALUE "LegalCopyright", "Copyright (C) 2019 Fluorohydride"
VALUE "OriginalFilename", "YGO-VI-EX"
VALUE "ProductName", "YGO-VI-EX"
VALUE "FileVersion", "1.034.A"
VALUE "ProductVersion", "1.034.A"
END
END
BLOCK "VarFileInfo"
BEGIN
VALUE "Translation", 0x804, 1200
END
END
